include README.md
include pyproject.toml
recursive-include gxtb_ase *.py
recursive-include vendor/g-xtb/binary *
recursive-include vendor/g-xtb/parameters *
include vendor/g-xtb/LICENSE
include vendor/g-xtb/README.md 